body{
    background: url(images/backgroundimage.jpg);
    background-position: bottom;
    background-attachment: fixed;
    font-family: "Comofortaa", sans-serif;
    color: white;
}

.searchBar
{
    height : 10vh;
    background: black;
    display:flex;
    align-items:center;
    justify-content: center;
}

.searchBarParentDiv
{
    width: 50%;
    height: fit-content;
    position: relative;
}

.inputField
{
    width:100%;
    border-radius: 25px;
    padding: 10px;
}

.searchIcon
{
    position:absolute;
    right: 10px;
    top:5px;
}

.searchIcon:hover
{
    cursor: pointer;
}

.mainContentParentDiv
{
    height: 90vh;
}

.leftDiv
{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.leftChild
{
    background: rgba(212, 212, 212, 0.4);
    width:85%;
    height: 40vh;
    margin: auto;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.currentTempDiv h6
{
    font-size: larger;
}

#cityName
{
    font-size: xx-large;
}

#cityTemp
{
    font-size: x-large;
}
.rightDiv
{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightRow
{
    height: 27vh;
    width: 100%;
    border: 1px white solid;
}

.rightUpChild
{
    background: rgba(212, 212, 212, 0.4);
    width: fit-content;
    border-radius:15px;
    backdrop-filter: blur(15px);
    padding: 5% 2%;
    margin: auto;

}
.rightMiddleChild
{
    background: rgba(212, 212, 212, 0.4);
    width: fit-content;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    margin: auto;
    height: 20vh;
    padding: 3% 2%;
}

.rightDownChild
{
    background-color: rgba(212, 212, 212, 0.4);
    height: 15vh;
    backdrop-filter: blur(15px);
    width: 15%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.todayText
{
    font-size: x-large;
}